#numAleatorio{
    border:#76AF99 solid 5px;
    border-radius: 3px;
    background-color: #A1EFD1;
    width: 260px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cuadrotexto
{
    border:#76AF99 solid 2px;
    width: 50px;
    height: 20px;
    margin: 25px 20px;
    text-align: center;
    
}
#pantalla
{
    border:#76AF99 solid 2px;
   border-radius:3px ;
   background-color:white;
   font-size: 20px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   width: 100px;
   height: 170px;
   margin:0 auto;
}